.article-icon {
    margin-right: 8px;
    vertical-align: top;
}

.title-font {
    font-weight: 600 !important;
    font-size: 32px !important;
    line-height: normal !important;
}

.title {
    margin: 0px;
}

.subtitle {
    margin: 0px;
    margin-left: 42px;
}

.title-container {
    margin-bottom: 32px;
}

.article {
    margin-left: 42px;
}
