.article-icon {
    margin-right: 8px;
    font-size: 52px !important;
    font-weight: 600 !important;
    line-height: normal !important;
}

.title {
    margin: 0px;
    font-weight: 600 !important;
    font-size: 32px !important;
    line-height: normal !important;
    margin: 0px !important;
}

.subtitle {
    line-height: normal !important;
    margin: 0px !important;
}

.title-container {
    display: inline-block;
}

.header {
    margin-bottom: 20px;
}
