<div class="container">
    <div class="name-container">
        <a class="nostyle" routerLink="/"><img class="avatar" src="https://www.gravatar.com/avatar/31cfae3bed3b6bfbcbc2729c18b65e6e" alt="" /></a>
        <div>
            <a class="nostyle" routerLink="/"><div class="mat-body-strong name">Marco Satti</div></a>
            <div>Software Engineer & Programmer</div>
        </div>
    </div>
    <nav>
        <button mat-button color="primary" routerLink="/blog">BLOG</button>
        <button mat-button color="primary" routerLink="/projects">PROJECTS</button>
        <button mat-button color="primary" routerLink="/about-me">ABOUT ME</button>
    </nav>
</div>
