<div class="container">
    <div class="name-container">
        <a class="nostyle" routerLink="/"><img class="avatar" src="https://www.gravatar.com/avatar/31cfae3bed3b6bfbcbc2729c18b65e6e"/></a>
        <div>
            <div>
                <a class="nostyle" routerLink="/"><span class="mat-body-strong name">Marco Satti</span></a>
                <div class="sm-icons">
                    <a href="https://linkedin.com/in/marco-satti"><img class="sm-icon" src="/assets/linkedin.png"/></a>
                    <a href="https://github.com/marcosatti"><img class="sm-icon" src="/assets/github.png"/></a>
                </div>
            </div>
            <div>Software Engineer & Programmer</div>
        </div>
    </div>
    <nav>
        <button mat-button color="primary" routerLink="/blog">BLOG</button>
        <button mat-button color="primary" routerLink="/projects">PROJECTS</button>
        <button mat-button color="primary" routerLink="/about-me">ABOUT ME</button>
    </nav>
</div>
