.name {
    font-size: 16pt;
}

.container {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar {
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.name-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.sm-icons {
    margin-left: 12px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
}

.sm-icon {
    width: 16px;
    height: 16px;
}

a.nostyle:link,
a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
}
