<div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="16px">
    <mat-card class="container">
        <section>
            <h1>About Me</h1>
            <p>Self-taught software engineer since 2010 who has worked on a variety of projects in both a professional and hobbist context.</p>
            <p>A number of open source contirbutions to the emulation scene have been made, including a guide on dynamic recompilation.</p>
            <p>Currently studying embedded software, hoping to work on inspiring projects within the automotive, aerospace and/or communications industries.</p>
        </section>
        <section>
            <h2>Experience</h2>
            <p>I have predominately been using C/C++ & Python for most of my career, using these languages and ecosystems to create and/or extend applications.</p>
            <p>Lately I have been learning about Rust, most notably creating psx-rs with it and also using it to program microcontrollers (STM32 Blue Pill & etc).</p>
            <p>Full list of languages with experience (at least one major project):</p>
            <ul>
                <li>C</li>
                <li>C++</li>
                <li>C#</li>
                <li>Rust</li>
                <li>Python</li>
                <li>Typescript / Javascript</li>
            </ul>
            <p>Some notable API / library experience includes:</p>
            <ul>
                <li>OpenGL</li>
                <li>OpenAL</li>
                <li>Angular</li>
                <li>Django</li>
                <li>Pybind11</li>
            </ul>
            <p>In addition to programming, there are also several cloud architecture projects I have been involved with, mostly to do with AWS (including CloudFormation) and a bit of Azure.</p>
        </section>
        <section>
            <h2>Projects</h2>
            <p>See the <a routerLink="/projects">projects</a> page for more information about my open source contributions.</p>
            <p>Some commercial projects include:</p>
            <ul>
                <li>Python scripting integration for desktop applications.</li>
                <li>Licensing systems.</li>
                <li>Data visualization tools.</li>
            </ul>
        </section>
        <section>
            <h2>Resume</h2>
            <p>You can download a copy of my resume <a href="https://drive.google.com/drive/folders/1kIGAHmDZEFEcfiDcGffg7ijz2jRrCzkf?usp=sharing">here</a>, which includes my recent professional history.</p>
            <p class="mat-small">Note this may not be up to date! Please contact me for the latest.</p>
        </section>
        <section>
            <h2>Contact Me</h2>
            <p>Questions and queries are welcomed! Please send an email to <i>marcosatti at gmail dot com</i>, or contact me through LinkedIn.</p>
        </section>
    </mat-card>
    <mat-card>
        <h2>Social Media</h2>
        <div [ngClass]="{'social-media-container': true, 'social-media-loaded': isSocialMediaLoaded()}" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="16px">
            <mat-progress-spinner fxFlexAlign="center" mode="indeterminate"></mat-progress-spinner>
        </div>
        <div [ngClass]="{'social-media-container': true, 'social-media-loading': !isSocialMediaLoaded()}" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="16px">
            <!-- LinkedIn -->
            <div fxFlexAlign="center" class="LI-profile-badge" data-version="v1" data-size="large" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="marco-satti"><a class="LI-simple-link" href='https://au.linkedin.com/in/marco-satti?trk=profile-badge'>LinkedIn - Marco Satti<br/>(Please turn tracking protection off to work)</a></div>
            <hr class="social-media-divider"/>
            <!-- GitHub -->
            <github-card id="github" fxFlexAlign="center" data-user="marcosatti"></github-card>
        </div>
    </mat-card>
</div>
