section {
    margin-bottom: 35px;
}

.container {
    max-width: 800px;
}

.social-media-container {
    width: 300px;
    min-height: 400px;
    overflow: hidden;
}

.social-media-loading {
    display: none !important;
}

.social-media-loaded {
    display: none !important;
}

.social-media-divider {
    width: 100%;
}
