<section>
    <h1 class="title">About Me</h1>
    <p>Self-taught software engineer since 2010 who has worked on a variety of projects in both a professional and hobbyist context.</p>
    <p>A number of open source contirbutions to the emulation scene have been made, including a guide on dynamic recompilation.</p>
    <p>Currently studying embedded software development, hoping to work on inspiring projects within the automotive, aerospace, medical and/or communications industries.</p>
</section>
<section>
    <h2>Experience</h2>
    <p>I have predominately been using C/C++ & Python for most of my career, using these languages and ecosystems to create and/or extend applications.</p>
    <p>Lately I have been learning about Rust, most notably creating psx-rs with it and also investigating it to program microcontrollers (STM32 Blue Pill & etc).</p>
    <p>Full list of languages with experience (at least one major project):</p>
    <ul>
        <li>C</li>
        <li>C++</li>
        <li>C#</li>
        <li>Rust</li>
        <li>Python</li>
        <li>Typescript / Javascript</li>
    </ul>
    <p>Some notable API / library experience includes:</p>
    <ul>
        <li>Linux kernel driver development</li>
        <li>STM32 MCU barebones development</li>
        <li>OpenGL</li>
        <li>OpenAL</li>
        <li>Angular</li>
        <li>Django</li>
        <li>Pybind11</li>
        <li>React</li>
        <li>gRPC</li>
        <li>PostgreSQL</li>
        <li>GraphQL</li>
    </ul>
    <p>In addition to programming, there are also several cloud architecture projects I have been involved with, mostly to do with AWS (including CloudFormation) and a bit of Azure.</p>
    <p>This website is infact hosted on the Google Cloud platform!</p>
</section>
<section>
    <h2>Projects</h2>
    <p>See the <a routerLink="/projects">projects</a> page for more information about my open source contributions.</p>
    <p>Some commercial projects include:</p>
    <ul>
        <li>Python scripting integration for desktop applications.</li>
        <li>Licensing systems.</li>
        <li>Data visualization tools.</li>
    </ul>
</section>
<section>
    <h2>Resume</h2>
    <p>You can download a copy of my resume <a href="https://drive.google.com/drive/folders/1kIGAHmDZEFEcfiDcGffg7ijz2jRrCzkf?usp=sharing">here</a>, which includes my recent professional history.</p>
    <p class="mat-small">Note this may not be up to date! Please contact me for the latest.</p>
</section>
<section>
    <h2>Contact Me</h2>
    <p>Questions and queries are welcomed! Please send an email to <i>marcosatti at gmail dot com</i>, or contact me through LinkedIn.</p>
</section>
